<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918231880537-p9637nd5qclarme4ppctnqpfmei4ljd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918231880537-p9637nd5qclarme4ppctnqpfmei4ljd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCfibhzFHnE1ifATiea_QI5sDCVKptokko</string>
	<key>GCM_SENDER_ID</key>
	<string>918231880537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swe.reclothes.reclothes</string>
	<key>PROJECT_ID</key>
	<string>re-clothes</string>
	<key>STORAGE_BUCKET</key>
	<string>re-clothes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918231880537:ios:0e5551a666c2274323f248</string>
</dict>
</plist>